html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 180px;
	padding: 2px;
	font: 10px verdana;
	background: #8CFF54;
	border: 1px solid #0062E8;
}

div.legend {
	position: absolute;
	text-align: left;
	font: 14px verdana;
	border: 1px solid black;
}

#svg_main {
	height: 100%;
	width: 100%;
}

#controls {
	position: relative;
	left: 100px;
	top: -120px;
}

#controls > #select_dep {
	width: 20%;
	margin-top: 0px;
	margin-left: 14px;
	background-color: #e8e8e8e8;
	color: black;
}

#controls > #select_indep {
	width: 20%;
	margin-top: 0px;
	margin-left: 0px;
	background-color: #e8e8e8e8;
	color: black;
}
